# Created by .ignore support plugin (hsz.mobi)
### Java templates
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Example user templates templates
### Example user templates

# IntelliJ project files
.idea
*.iml
out
gen

target/
.DS_Store

*.sh

admin-web/node_modules/
pay-common/src/test/
web-server/src/test/
/web-backend/logs.path_IS_UNDEFINED/

# dependencies
node_modules
.idea

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
